<div id="settings" class="tab-pane">
    <div class="container">
        <!-- Config Editor Panel 1 -->
        <div class="panel">
            <div class="header">
                <h2>studies.toml</h2>
                <div class="controls">
                    <button class="btn-save" onclick="saveConfig('studies.toml')">Save</button>
                </div>
            </div>
            <textarea id="config-editor-studies"></textarea>
        </div>

        <!-- Config Editor Panel 2 -->
        <div class="panel">
            <div class="header">
                <h2>config.toml</h2>
                <div class="controls">
                    <button class="btn-save" onclick="saveConfig('config.toml')">Save</button>
                </div>
            </div>
            <textarea id="config-editor-core"></textarea>
        </div>
    </div>
</div> <!-- End of Settings Tab -->