<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FYP Data Hub</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2">
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='explorer.js') }}"></script>
    <script src="{{ url_for('static', filename='explorer_v2.js') }}?v=3"></script>
    <script src="{{ url_for('static', filename='viewer.js') }}?v=3"></script>
    <script src="{{ url_for('static', filename='pca_viz.js') }}"></script>
    <script src="{{ url_for('static', filename='persona_explorer.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>